/* logo */
/* https://trello.com/assets/c8b7bafdbc02d4015366.svg */
/* welcome img */
/* https://trello.com/assets/a7fb768ffd0181cbfc63.svg */

:root {
    --logoBgClr: #0c66e4;
    --text_clr: #172b4d;
    --color:#ffffff;
}

header {
    display: flex;
    box-sizing: border-box;
    padding: 12px 0 12px 44px;
    height: 70px;
    z-index: 1;
    background-color: var(--logoBgClr);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.left{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-image: linear-gradient(to-right, blue,#ffffff); */
}

/* .leftFormContent{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
} */
.leftFormContent
{
    grid-row: 2;
    grid-column: 2;
    max-width: 340px;
    margin: auto;
    padding: 60px 0;
}

.left h1{
    font-family: BlinkMacSystemFont, Segoe UI, Roboto, sans-seri;
    font-size: 34px;
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 24px;
}
.left p{
    font-family: BlinkMacSystemFont, Segoe UI, Roboto, sans-seri;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #172B4D;
}
.right {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}

.lower {
    position: relative;
    z-index: -5;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2em 0;
    height: 100%;
}
.lower svg{
    margin: 0 4.25em;
    max-height: 100%;
    max-width: 100%;
}
.upper {
   
    z-index: 5;
    position: absolute;
    /* top: 0px; */
    padding-top: 2%;
    margin-bottom: 2%;

}

.upper img{
    /* height: 250vh;
    width: 250vw; */
    max-height: 450%;
    max-width: 450%;
    transform: scale(0.53);
    border: none;
}
button{
    box-shadow: none;
    border: none;
    background-color: #ffffff;

}

.leftFormContent button{
    padding: 10px;
    background-color: var(--logoBgClr);
    font-weight: bold;
    color: var(--color);
    border-radius: 5px;
}